# Multi-Layer Perceptron (MLP)

## Problem Statement

Implement **Multi-Layer Perceptron (MLP)** for the **XOR function**.

|  x  |  y  | output |
| :-: | :-: | :----: |
|  0  |  0  |   0    |
|  0  |  1  |   1    |
|  1  |  0  |   1    |
|  1  |  1  |   0    |

### Import Libraries

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split

### XOR dataset

In [2]:
x1 = np.array([0, 0, 1, 1])
x2 = np.array([0, 1, 0, 1])
print(x1)
print(x2)

[0 0 1 1]
[0 1 0 1]

In [3]:
def generate_array(size=50):
    choices = np.random.choice([0, 1], size=size)
    arr = np.where(
        choices == 0,
        np.random.uniform(0, 0.2, size),  # values from 0 to 0.2
        np.random.uniform(0.8, 1.0, size),  # values from 0.8 to 1
    )
    return arr

In [4]:
arr1 = generate_array()
arr1 = np.round(arr1, 2)
print(arr1)

[0.2  0.05 1.   0.14 0.2  0.81 0.83 0.03 0.84 0.91 0.8  0.19 0.01 0.86
 0.9  0.16 0.14 0.89 0.18 0.   0.92 0.   0.1  0.84 0.01 0.12 0.87 0.98
 0.18 0.04 0.98 0.17 0.86 0.9  0.19 0.96 0.94 0.88 0.96 0.8  0.98 0.19
 0.16 0.12 0.87 0.97 0.82 0.81 0.16 0.9 ]

In [5]:
arr2 = generate_array()
arr2 = np.round(arr2, 2)
print(arr2)

[0.18 0.91 0.13 0.94 0.19 0.17 0.05 0.96 0.07 0.86 0.07 0.17 0.89 0.98
 0.19 0.86 0.16 0.92 0.16 0.01 0.11 0.06 0.07 0.82 0.15 0.83 0.14 0.02
 0.87 0.06 0.98 0.03 0.89 0.1  0.94 0.88 0.98 0.96 0.03 0.13 0.09 0.95
 0.8  0.07 0.03 0.1  0.02 0.01 0.85 0.99]

In [6]:
x1 = np.concatenate((x1, arr1))
print(x1)

[0.   0.   1.   1.   0.2  0.05 1.   0.14 0.2  0.81 0.83 0.03 0.84 0.91
 0.8  0.19 0.01 0.86 0.9  0.16 0.14 0.89 0.18 0.   0.92 0.   0.1  0.84
 0.01 0.12 0.87 0.98 0.18 0.04 0.98 0.17 0.86 0.9  0.19 0.96 0.94 0.88
 0.96 0.8  0.98 0.19 0.16 0.12 0.87 0.97 0.82 0.81 0.16 0.9 ]

In [7]:
x2 = np.concatenate((x2, arr2))
print(x2)

[0.   1.   0.   1.   0.18 0.91 0.13 0.94 0.19 0.17 0.05 0.96 0.07 0.86
 0.07 0.17 0.89 0.98 0.19 0.86 0.16 0.92 0.16 0.01 0.11 0.06 0.07 0.82
 0.15 0.83 0.14 0.02 0.87 0.06 0.98 0.03 0.89 0.1  0.94 0.88 0.98 0.96
 0.03 0.13 0.09 0.95 0.8  0.07 0.03 0.1  0.02 0.01 0.85 0.99]

In [8]:
output = np.empty(54, dtype=int)
for i in range(54):
    a, b = x1[i], x2[i]
    if a >= 0.8:
        a = 1
    elif b >= 0.8:
        b = 1
    elif b <= 0.2:
        b = 0
    elif a <= 0.2:
        a = 0
    y = (int)(a) ^ (int)(b)
    output[i] = y
print(output)

[0 1 1 0 0 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 1 0 0 1 0 0 1 0 1 1 1 1 0 1 0 1
 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1]

In [9]:
print(x1.shape)
print(x2.shape)
print(output.shape)

(54,)
(54,)
(54,)

### Create Dataframe

In [10]:
df = pd.DataFrame({"x": x1, "y": x2, "output": output})
df.head(10)

      x     y  output
0  0.00  0.00       0
1  0.00  1.00       1
2  1.00  0.00       1
3  1.00  1.00       0
4  0.20  0.18       0
5  0.05  0.91       1
6  1.00  0.13       1
7  0.14  0.94       1
8  0.20  0.19       0
9  0.81  0.17       1

### Splitting the train-test data

In [11]:
X, y = df.iloc[:, :-1], output
print(X.shape)
print(y.shape)

(54, 2)
(54,)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=14,
    train_size=40,
    random_state=42,
    stratify=y,
    shuffle=True,
)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(40, 2)
(40,)
(14, 2)
(14,)

### Scale the features

In [13]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

### Train the model

In [14]:
mlp = MLPClassifier(
    hidden_layer_sizes=(8, 2),
    activation="relu",
    solver="adam",
    max_iter=5000,
    random_state=42,
)
mlp.fit(X_train.values, y_train)
y_pred = mlp.predict(X.values)

### Test predictions

In [15]:
print("Prediction:", y_pred)
print("Actual:", y)

Prediction: [0 1 1 1 0 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 1 0 0 1 0 0 1 0 1 1 1 1 0 1 0 1
 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1]
Actual: [0 1 1 0 0 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 1 0 0 1 0 0 1 0 1 1 1 1 0 1 0 1
 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1]

In [16]:
accuracy = mlp.score(X_scaled, y)
print(f"Accuracy: {accuracy*100:.2f}%")

Accuracy: 98.15%